
<footer>



<section>
     <div class="grid-container">
		<div class="grid-item">
		
			<br/>
            <h2>Download the SNEAKERS App</h2>
            <ul>
				<li>Shop sneakers</li>
				<li>Get notifications on prices</li>
				<li>Manage your most-wanted styles</li>
			</ul>
			<br/>
			<div class = "centrat"><a  href = "https://apps.apple.com/us/app/sneakers/id590912633"><img id = "centrat" src = "imagini/pagina_principala/download_app.png" width = 150 alt = "app_store"></a></div>
        </div>  
        <div class="grid-item">
			<img id = "poza_app" src = "imagini/pagina_principala/app.png" alt = "app">
        </div>  
    </div>
    <hr class="line">
</section>

<br/><br/>
<div class = "centrat"><a id = "btt" href = "#"> BACK TO TOP </a></div>
<br/><br/>


	<div class = "grid-container-footer">
		
			<ul>
				<li><h2>ABOUT US</h2></li>
				<li><a href = "/about">About SNEAKERS</a></li>
				<li><address>846 North Ave. New York, NY 10034</address></li>
				<li><a href="tel:2897840730"> (289) 784-0730</a></li>
				<li><a href="mailto:clean@sneakers.com">clean@sneakers.com</a></li>
			</ul>
		
			<ul>
				<li><h2>BUY</h2></li>
				<li><a href = "/buy_1">Assurance of authenticity</a></li>
				<li><a href = "/buy_2">Purchases & Returns</a></li>
			</ul>
		
			<ul>
				<li><h2>SELL</h2></li>
				<li><a href = "/sell">Selling on SNEAKERS</a></li>
			</ul>
		
	</div>
		
	<p id="nrCuvinte"></p>
		
	<div class = "centrat" id = "social_media">

  <a href="https://www.facebook.com/BiancaElenaPhotography/" ><i class="fa fa-facebook-official"></i></a>
  <a href="https://ro.pinterest.com/biancaelena033/" ><i class="fa fa-pinterest-p"></i></a > 
  <a href="https://www.instagram.com/simply_captivation"><i class="fa fa-instagram"></i></a>
  
</div>	


</footer>