<!DOCTYPE html>
<html lang="en">

<head>
    <title> SneakerMarket - Collaborations </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type = "text/css" rel="stylesheet" href="/css/index.css"/>
	<link type = "text/css" rel = "styleseet" href = "/css/404.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/imagini/favicon/favicon.ico">
	<meta charset="UTF-8">
	<meta name="author" content="Buduroes Elena Bianca">
	<meta name="description" content="Sneaker Market">
    <meta name="keywords" content="Off White, nike, travis scott, sacai, dunk, sb dunk, pine green, low, chicago">
<style>
main {
	background-color:#000000;
}
</style>
</head>

<body>
	
<%- include("../fragmente/header")  %>


<main>
<br/><br/><br/><br/>

<center><image src = "imagini/404/error_page.gif" alt = "animated" width = "650px"></center>

<br/><br/>

</main>

<%- include("../fragmente/footer")  %>

</body>
</html>