<!DOCTYPE html>
<html lang="en">

<head>
    <title> SneakerMarket - About </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type = "text/css" rel="stylesheet" href="/css/index.css"/>
    <link type = "text/css" rel="stylesheet" href="/css/about.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="imagini/favicon/favicon.ico">
	<meta charset="UTF-8">
	<meta name="author" content="Buduroes Elena Bianca">
	<meta name="description" content="Sneaker Market">
    <meta name="keywords" content="we are, SNEAKERS, global, nike, adidas, trust, designer">
</head>



<body>

<%- include("../fragmente/header")  %>

<main>


<h1> ABOUT US </h1>
<h2> WHO ARE WE? </h2>
<p><i>SNEAKERS is the global platform for style.</i> Founded in 2019 to bring trust to the sneaker community, 
the technology platform has since expanded to offer sneakers from the world’s leading contemporary, 
<i>avant garde</i> and designer brands. Through its unique positioning between the primary and resale markets, the company is able 
to surface styles from the past, present and future, <b>delivering authentic product to over 20 million members across 164 countries.</b></p>



<div id = "galerie_animata" class = "galerie">
	<div>
		<figure><img src = "./photos/galerie_about/2.jpg" alt = "prezentare_1"></figure>
		<figure><img src = "./photos/galerie_about/1.jpg" alt = "prezentare_2"></figure>
		<figure><img src = "./photos/galerie_about/3.jpg" alt = "prezentare_3"></figure>
		<figure><img src = "./photos/galerie_about/4.jpg" alt = "prezentare_4"></figure>
	</div>
</div>
		


</main>

<%- include("../fragmente/footer")  %>

</body>
</html>