<!DOCTYPE html>
<html lang="en">

<head>
    <title> SneakerMarket - Assurance of Authenticity </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type = "text/css" rel="stylesheet" href="/css/index.css"/>
    <link type = ""text/css" rel="stylesheet" href="/css/buy_1.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/imagini/favicon/favicon.ico">
	<meta charset="UTF-8">
	<meta name="author" content="Buduroes Elena Bianca">
	<meta name="description" content="Sneaker Market">
    <meta name="keywords" content="marketplace, nike, adidas, authentic, reseller, goal, trusted">
</head>



<body>
<%- include("../fragmente/header")  %>

<main>

<h1> ASSURANCE OF AUTHENTICITY</h1>

<p><strong>Our goal is to be the most trusted marketplace for sneakers.</strong></p>
<p>Sourcing from the world’s premium boutiques and retailers, as well as our trusted network of resellers, we only sell <em>authentic products.</em></p>
<p>Additionally, all resale products are verified by a combination of machine 
learning technology as well as in-hand verification to ensure the product is both authentic and as described.</p>
<p>To support our verification process, we have logged hundreds of thousands of data points on our products to help define their authenticity. 
Our specialists go through rigorous training and inspect everything from the label to stitching, texture to color, and so much more.</p>
<p>If your product is found to be inauthentic or not as described, we’ll notify you during our verification process and <b>offer you a full 
refund for your order.</b></p>
<p><strong>It’s our hope that through our efforts, we can create a safe and trustworthy global marketplace.</strong></p>




</main>

<%- include("../fragmente/footer")  %>

</body>
</html>