<!DOCTYPE html>
<html lang="en">

<head>
    <title> SneakerMarket - Purchases and Returns </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type = "text/css" rel="stylesheet" href="/css/index.css"/>
    <link type = "text/css" rel="stylesheet" href="/css/buy_2.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/imagini/favicon/favicon.ico">
	<meta charset="UTF-8">
	<meta name="author" content="Buduroes Elena Bianca">
	<meta name="description" content="Sneaker Market">
    <meta name="keywords" content="method, money, return, item, SNEAKERS, authentic, nike, adidas, sneakers clean">
</head>

<body>

<%- include("../fragmente/header")  %>

<main>

<h1>PURCHASES AND RETURNS</h1>

<h2>PURCHASES</h2>
<h4>PAYMENT METHODS</h4>
<p>We accept several methods of payments. If you purchase items in the United States, 
we accept <b>American Express, Discover, JCB, MasterCard and Visa.</b> Alternate methods of 
payment include Apple Pay, PayPal, and Alipay.</p>

<h4>SHIPPING</h4>


<ul id = "lista">
	<li>The cost of US domestic shipping (for items other than “Instant Ship” 
	items ordered with Next Day shipping) is $10 to the 48 contiguous states and $15 to Hawaii and Alaska.</li>
	<li>The cost of shipping for “Instant Ship” items ordered with Next Day shipping is $25. Please note, 
	Next Day shipping is only available for “Instant Ship” sneaker items with a delivery address within the 
	48 contiguous states and is not available for orders to be delivered to PO Boxes or military bases.</li>
	<li>The cost of shipping for items to be delivered to an address in the People’s Republic of China is $25.</li>
	<li>For a limited time, the cost of shipping for items to be delivered to an address in Canada is $30 and $40 
	to all other international countries other than the People’s Republic of China.</li>
	<li><strong>Customers may incur additional charges for purchases of multiple items or heavy items.</strong></li>
</ul>

<p>Delivery times are estimates and <em>are not guaranteed</em>, as shipments may be affected by weather-related delays or events outside of our control.</p>

<h4>ORDER REVIEW</h4>

<p>All orders are subject to fraud review which may result in a delay in processing. We may also require additional information in order to 
verify your purchase. Until you receive final confirmation of your purchase, please check your email and respond to any requests for verification. 
While your order is being reviewed, your account may be placed on hold until the review is completed.</p>


<h2>RETURNS</h2>

<p>We want you to be happy with your purchase, which is why we accept returns on New In Box, New No Box, SNEAKERS Clean purchases that are in the same condition as when shipped. <b>We do not issue refunds or accept returns or exchanges on special 
items (e.g., Vintage, Sample, ID, Custom, Defect, Pre-Release), any used items, any SNEAKERS Storage items, any items listed as "Final Sale" on 
the checkout page, or any items shipped to a freight forwarder or a delivery address in the People's Republic of China. All purchases of such 
items are FINAL SALE and we do not issue refunds or accept returns for such purchases.</b></p>

</main>

<%- include("../fragmente/footer")  %>

</body>
</html>