<!DOCTYPE html>
<html lang="en">

<head>
    <title> SneakerMarket - Log in </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type = "text/css" rel="stylesheet" href="/css/index.css"/>
    <link type = "text/css" rel="stylesheet" href="/css/log_in.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/imagini/favicon/favicon.ico">
	<meta charset="UTF-8">
	<meta name="author" content="Buduroes Elena Bianca">
	<meta name="description" content="Sneaker Market">
    <meta name="keywords" content="log in, my account, account, SNEAKERS, adress, name, password, adidas, nike">
</head>

<body>

<%- include("../fragmente/header")  %>

<main>

<br/><br/>

<% if(!locals.rsstatus) { %><!-- verific daca status e definit-->

<form method="post" action="/inreg" class="date"> 


  <div class="imgcontainer">
    <img src="/imagini/log_in/hello.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="nume" required>
	
	<label for="varsta"><b>Age</b></label>
    <input type="number" placeholder="Enter Name" name="nume" required>
	
	
	<label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="parola" required>
	
	<label for="psw"><b>Reenter Password</b></label>
    <input type="password" placeholder="Reenter Password" name="rparola" required>
	
	<label for="mail"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
        
    <button type="submit">Sign Up</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn"><a class = "l" href = "/index"> Cancel </a></button>
    <span class="psw">You already have an account? <a href="/log_in">Log in!</a></span>
  </div>
</form>


<% } else if(rsstatus=="ok"){ %>
			<p>Date introduse</p>
		<% } else {%>
			<p>Eroare</p>
		<% } %>
    </div>
	
<br/><br/><br/>
</main>


<%- include("../fragmente/footer")  %>
</body>
</html>