<!DOCTYPE html>
<html lang="en">

<head>
    <title> SneakerMarket - Sell </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type = "text/css" rel="stylesheet" href="/css/index.css"/>
    <link type = "text/css" rel="stylesheet" href="/css/sell.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/imagini/favicon/favicon.ico">
	<meta charset="UTF-8">
	<meta name="author" content="Buduroes Elena Bianca">
	<meta name="description" content="Sneaker Market">
    <meta name="keywords" content="customer, seller, profit, money, adidas, nike, collaborations, SNEAKERS">
</head>

<body>

<%- include("../fragmente/header")  %>

<main>

<h1>SELLING ON SNEAKERS</h1>

<article>

<h3>COMMISSION FEES</h3>

<p>Only when an item is purchased, is a commission fee charged. The amount of the commission fee is 9.5% + seller fee for a seller 
in good standing. The commission fee can increase to 15% + seller fee and a maximum of 25% + seller fee depending on the number of 
seller cancellations and verification issues, as described in more detail below. The commission fee will be deducted from the seller’s 
listing price.</p>

</article>

<article>

<h3>CASH OUT FEES</h3>

<p>When earnings are deposited through ACH direct deposit or PayPal, a 2.9% cash out fee will be applied. 
During promotional campaigns (e.g. free ACH direct deposits), SNEAKERS may elect to reduce the cost of the cash out fee or waive it altogether. 
Sellers may cash out if their total earnings are greater than $25.00.</p>

</article>


</main>

<%- include("../fragmente/footer")  %>

</body>
</html>