<!DOCTYPE html>
<html lang="en">

<head>
    <title> SneakerMarket - Shopping Bag </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type = "text/css" rel="stylesheet" href="/css/index.css"/>
    <link type = "text/css" rel="stylesheet" href="/css/shopping_bag.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/imagini/favicon/favicon.ico">
	<meta charset="UTF-8">
	<meta name="author" content="Buduroes Elena Bianca">
	<meta name="description" content="Sneaker Market">
    <meta name="keywords" content="adidas, nike, pay, card, cash, item, coming soon">
	<script src="/js/scriptBag.js"></script>
	
</head>
<body>

	<%- include("../fragmente/header")  %>

<main>

<h1 id = "coming_soon">Coming soon</h1>
<h2 id = "comg_soon">Click below to show the countdown</h2> 
<center><input type="checkbox" id="count"><label for="count"></label></center><br/>



 <div id="paragraph">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia mauris eget vehicula fringilla. Nullam eget neque eget nisl fringilla aliquam. Fusce in iaculis urna. Nulla pulvinar, sapien a condimentum ornare, elit leo rhoncus ex, vel fringilla nibh dolor eu massa. Suspendisse nulla mi, sodales et maximus sed, mollis eget felis. Aenean sagittis tempus ipsum non luctus. Curabitur ornare eros vel turpis semper, ut mollis dolor congue. Morbi justo velit, imperdiet sit amet varius vitae, commodo ultrices quam. Vivamus commodo orci nec nulla commodo maximus. Nam in eros iaculis, fermentum massa id, dignissim diam. Curabitur vitae ex non ipsum auctor molestie. Sed quam ante, finibus nec varius nec, fringilla sit amet odio. Sed pretium egestas viverra. Ut non rhoncus enim, nec fringilla nulla. Quisque ultricies cursus mattis. Fusce pretium augue at ultrices laoreet.</p>
 </div>
      
        
<input id="typed-text" type="text" placeholder="Type text">
<button id = "s">Rearch</button>
<button id = "reset">Reset</button>
      


<p id="demo"></p>

<br/><br/><br/><br/>

</main>

<%- include("../fragmente/footer")  %>

</body>
</html>